.message-title {
  background-color: #1A2226;
  font-size: 25px;
  color: white;
  margin: 5px;
}

.messages-panel {
  background-color: #384c53;
  color: black;
  margin: 5px 0;
  padding: 15px;
}

.message-input-panel {
  background-color: #636767;
  color: black;
  margin: 25px 0;
}