.title-main {
    margin: 25px 0 0 0;
}

.title-span {
    color: white;
    font-size: 15px;
}

.main-row {
    height: 500px;
    overflow-y: scroll;
}

.message-row {
    padding: 2px;
    margin: 5px;
    border: 2px solid #8a8fa8;
}

.message-body {
    padding: 2px;
    margin: 0px;
    overflow-wrap: break-word;
}

.message-content {
    padding: 2px;
    color: white;
    font-size: 15px;
    overflow-wrap: break-word;
    border-bottom: 1px solid #8a8fa8;
}



.message-me {
    overflow-wrap: break-word;
    border-bottom: 1px solid #8a8fa8;
    font-size: 12px;
    padding: 2px;
    margin: 5px;
}

.message-to {
    font-size: 12px;
    border-bottom: 1px solid #8a8fa8;
    overflow-wrap: break-word;
    float: left;
    padding: 2px;
    margin: 5px 0;
}

.message-createdDate {
    border-bottom: 1px solid #8a8fa8;
    padding: 2px;
    margin: 5px;
    float: right;
    font-size: 12px;
    overflow-wrap: break-word;
}