.title-main {
    margin: 25px 0 0 0;
}

.main-header-row {
    padding: 5px;
    border-bottom: 2px solid #ddd;
    margin-bottom: 15px;
}

.title-span {
    color: white;
    font-size: 20px;
}

.main-row {
    padding: 5px;
    margin-top: 15px;
    height: 500px;
    overflow-y: scroll;
    border-top: 5px solid #ddd;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #60717e;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2e5a7c;
}

.message-row,
.empty,
.message-content,
.message-name,
.message-createdDate {
    background-color: #cfd5c1;
    color: black;
    font: 15px bold;
}

.col-empty,
.message-body {
    background-color: #527b87;
}

.message-row {
    padding: 5px;
    margin: 5px;
    border: 2px solid #323030;
}


.message-content {
    padding: 2px;
    overflow-wrap: break-word;
    border-bottom: 2px solid #31333d;
}



.message-name {
    overflow-wrap: break-word;
    font-size: 15px;
}

.message-createdDate {
    border-bottom: 2px solid #31333d;
    float: right;
    overflow-wrap: break-word;
}